extends layout

block content

  script(src="/javascripts/jquery-1.6.4.min.js")
  script(src="/javascripts/view.index.js")

  #left-column.column
    h2 Elige la empresa
    ul#companies
      each company in companies
        li(class='company-name')
          a(href='#') #{company}

  #right-column.column
    h2 Comentarios
    ul#comments
    label(for="new-comment") Añadir nuevo comentario:
    textarea#new-comment
    a(id='add-new-comment', href='#') Añadir
