doctype 5
html
  head
    title Calificador de empresas de prácticas
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1 Calificador de empresas de prácticas
      #content
        block content
      #footer
        a(href="https://github.com/juanjetomas/Nodejs-Sample") Disponible en Github
